## Feature Scaling and Normalization - Lab

## Introduction
In this lab, you'll practice your feature scaling and normalization skills!

## Objectives
You will be able to:
* Implement min-max scaling, mean-normalization, log normalization and unit vector normalization in python
* Identify appropriate normalization and scaling techniques for given dataset

## Back to our Boston Housing data

Let's import our Boston Housing data. Remember we categorized two variables and deleted the "NOX" (nitride oxide concentration) variable because it was highly correlated with two other features.

In [1]:
import pandas as pd
from sklearn.datasets import load_boston
boston = load_boston()

boston_features = pd.DataFrame(boston.data, columns = boston.feature_names)

# first, create bins for based on the values observed. 5 values will result in 4 bins
bins = [0, 3, 4 , 5, 24]
bins_rad = pd.cut(boston_features['RAD'], bins)
bins_rad = bins_rad.cat.as_unordered()

# first, create bins for based on the values observed. 5 values will result in 4 bins
bins = [0, 250, 300, 360, 460, 712]
bins_tax = pd.cut(boston_features['TAX'], bins)
bins_tax = bins_tax.cat.as_unordered()

tax_dummy = pd.get_dummies(bins_tax, prefix="TAX")
rad_dummy = pd.get_dummies(bins_rad, prefix="RAD")
boston_features = boston_features.drop(["RAD","TAX"], axis=1)
boston_features = pd.concat([boston_features, rad_dummy, tax_dummy], axis=1)
boston_features = boston_features.drop("NOX",axis=1)

In [5]:
boston_features.head().T

                        0          1          2          3          4
CRIM              0.00632    0.02731    0.02729    0.03237    0.06905
ZN               18.00000    0.00000    0.00000    0.00000    0.00000
INDUS             2.31000    7.07000    7.07000    2.18000    2.18000
CHAS              0.00000    0.00000    0.00000    0.00000    0.00000
RM                6.57500    6.42100    7.18500    6.99800    7.14700
AGE              65.20000   78.90000   61.10000   45.80000   54.20000
DIS               4.09000    4.96710    4.96710    6.06220    6.06220
PTRATIO          15.30000   17.80000   17.80000   18.70000   18.70000
B               396.90000  396.90000  392.83000  394.63000  396.90000
LSTAT             4.98000    9.14000    4.03000    2.94000    5.33000
RAD_(0, 3]        1.00000    1.00000    1.00000    1.00000    1.00000
RAD_(3, 4]        0.00000    0.00000    0.00000    0.00000    0.00000
RAD_(4, 5]        0.00000    0.00000    0.00000    0.00000    0.00000
RAD_(5, 24]       0.00000    0.00000    0.00000    0.00000    0.00000
TAX_(0, 250]      0.00000    1.00000    1.00000    1.00000    1.00000
TAX_(250, 300]    1.00000    0.00000    0.00000    0.00000    0.00000
TAX_(300, 360]    0.00000    0.00000    0.00000    0.00000    0.00000
TAX_(360, 460]    0.00000    0.00000    0.00000    0.00000    0.00000
TAX_(460, 712]    0.00000    0.00000    0.00000    0.00000    0.00000

## Look at the histograms for the continuous variables

In [7]:
boston_features[["CRIM", "INDUS", "RM", "B","LSTAT"]].hist(figsize  = [3, 2])
plt.show

array([[<matplotlib.axes._subplots.AxesSubplot object at 0x7fe54208c128>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x7fe541dac358>],
       [<matplotlib.axes._subplots.AxesSubplot object at 0x7fe541d596a0>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x7fe541cfec18>],
       [<matplotlib.axes._subplots.AxesSubplot object at 0x7fe541cb21d0>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x7fe541cd8748>]],
      dtype=object)

## Perform log transformations for the variables where it makes sense

Analyze the results in terms of how they improved the normality performance. What is the problem with the "ZN" variable?

"ZN" has a lot of zeros (more than 50%!). Remember that this variable denoted: "proportion of residential land zoned for lots over 25,000 sq.ft.". It might have made sense to categorize this variable to "over 25,000 feet or not (binary variable 1/0). Now you have a zero-inflated variable which is cumbersome to work with.

## Try different types of transformations on the continuous variables

Store your final features in a dataframe `features_final`

## Summary
Great! You've now transformed your final data using feature scaling and normalization, and stored them in the `features_final` dataframe.